<!-- SEARCH STUFF -->
<div class="SearchField">
<div><%= form_tag profiles_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search], placeholder: "search for a profile..", class: "form-control"%></div>
<% end %>
<%= link_to "Show All", profiles_path %>
<!-- END OF SEARCH FIELD -->

<h3>Connect with others!</h3>

<ul>
  <% @profiles.each do |profile| %>
  <li>
    <%= link_to profile.full_name, profile_path(profile.id) %></h3>
  </li>
  <% end %>
</ul>
