<div class="inbox">
  <h1>Recommendations Inbox</h1>
  <ul class="recommendations-list">
    <li class="recommendation-item">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <% link_to recipient.user_email, conversation_messages_path(conversation) %>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>

<div class="user-list">
  <h1>All users//All your friends</h1>
  <ul class="recommendations-list">
  <% @users.each do |user| %>
    <% if user.id != current_user.id %>
    <li class="recommendation-item">
    <%= user.user_email %> <%= link_to 'Hit me up!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' %>
    </li>
    <% end %>
  <% end %>
  </ul>
</div>
