<h3><%= @book.book_name %></h3>

<ul>
  <li>Description: <%= @book.book_description %></li>
  <li>Buy now: <%= @book.book_link_to_buy %></li>
  <li>By: <%= @book.profiles.first.first_name %></li>
  <li>Photo: Coming soon!</li>
  <li>RECOMMEND ME!</li>
</ul>
